*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    font-size: 3em;
    font-weight: bolder;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}

header nav ul li a:hover {
    background-color: gray;
    color: tomato;
    transition: all 0.4s linear;
    cursor: pointer;
}

h1 {
    margin: 20px;
    text-align: center;
}

p {
    margin: 20px;
}

footer p strong {
    text-align: center;
}