*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

.div {
    background-color: aqua;
    padding: 20px ;
    text-align: justify;
    height: 500px;
    width: 100%;
    background-image: url("img/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.div h1 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 40px;
}

.div p {
    font-size: 22px;
    line-height: 27px;
}

.div button {
    margin: 20px 0;
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border: 5px solid white;
    border-radius: 5px;
    background-color: rgb(44, 43, 43);
    color: crimson;
}

.box {
    margin-top: 20px;
    background-color: aqua;
    padding: 20px ;
    text-align: justify;
    height: 500px;
    width: 100%;
    background-image: url("img/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.box h1 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 40px;
}

.box p {
    font-size: 22px;
    line-height: 27px;
}

.box button {
    margin: 20px 0;
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border: 5px solid white;
    border-radius: 5px;
    background-color: rgb(44, 43, 43);
    color: crimson;
}