*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

.container1 div {
    margin: 20px;
    height: 50px;
    width: 400px;
    background-color: blueviolet;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}

div {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.container1 div:hover {
    width: 700px;
}

.container2 div {
    width: 400px;
    height: 50px;
    background-color: red;
    margin: 20px;
    transition: transform 1s linear;
}

.container2 div:hover {
    transform: translateX(200px);
}

.container3 div:nth-child(1) {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: 30px;
    padding-top: 35px;
    transition: transform 1s ease-in-out , background 1s ease-in-out;
}

.container3 div:nth-child(2) {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    margin: 30px;
    padding-top: 35px;
    transition: transform 1s ease-in-out , background 1s ease-in-out;
}

.container3 div:nth-child(3) {
    width: 100px;
    height: 100px;
    background-color: cyan;
    margin: 30px;
    padding-top: 35px;
    transition: transform 1s ease-in-out , background 1s ease-in-out;
}

.container3 div:nth-child(1):hover {
    transform: scale(1.5);
    background: red;
    transform: rotate(45deg);
}

.container3 div:nth-child(2):hover {
    transform: scale(1.5);
    background: red;
    transform: translateX(100px);
}

.container3 div:nth-child(3):hover {
    transform: scale(1.5);
    background: red;
    transform: translateY(50px);
}