*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1200px;
    height: 300px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.box {
    width: 400px;
    height: 200px;
    background-color: brown;
    font-size: 2em;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    max-width: 1200px;
    background-color: aquamarine;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.boxes {
    width: 200px;
    height: 100px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: aquamarine;
}

.card-container {
    max-width: 1200px;
    background-color: brown;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    color:rgb(0, 0, 0);
    height: 300px;
    width: 260px;
    background-color: bisque;
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 10px;
}

.card h4, p {
    text-align: left;
    margin: 10px 0;
}

.card img {
    width: 235px;
    height: 135px;
    border-radius: 10px;
}

.card button {
    font-size: 16px;
    font-weight: bold;
    padding: 7px 20px;
    margin: 0 10px 0 0;
    background-color: brown;
    color: bisque;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
}

.card button:hover {
    background-color: black;
    transition: all 0.5s linear;
    cursor: pointer;
}