*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

.display {
    margin-top: 40px;
}

.display h1 {
     margin: 15px 0;
     color: blue;
}

.none {
    background-color: aquamarine;
    padding: 10px;
    display: none;
}

.hidden {
    background-color: burlywood;
    padding: 10px;
    visibility: hidden;
    /* visibility: collapse; */
    /* visibility: visible; */
}

h2 {
    margin: 20px 0;
    color:crimson;
}

.boxes {
    margin-top: 70px;
}

.box-shadow1 {
    margin: 20px;
    display: inline;
    background-color: red;
    padding: 40px 73px;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
}

.box-shadow2 {
    margin: 20px;
    display: inline;
    background-color: green;
    padding: 40px 60px;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
}

.box-shadow3 {
    margin: 20px;
    display: inline;
    background-color: blue;
    padding: 40px 60px;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
}

ul {
    margin: 100px 6px 60px;
}

li {
    display: inline;
    border: 10px solid tomato;
    padding: 10px 27px;
    margin: 14.5px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 8px 8px 60px red;
}

.inline {
    margin: 10px 20px 50px;
}

.inline span {
    display: block;
    background-color: aqua;
    border: 5px solid black;
    margin: 10px 0;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: red;
    border-radius: 5px;
    box-shadow: 8px 8px 30px black;
}