*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

div {
    background-color: aqua;
    padding: 20px;
    border: 15px solid;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
    text-decoration: underline;
    color: brown;
}

p {
    font-size: large;
    text-align: justify;
}

h3 {
    margin-top: 20px;
    font-size: 25px;
    color: tomato;
}

h2 {
    margin-top: 20px;
    color: darkmagenta;
}