*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

#box {
    margin: 20px;
    border: 20px solid;
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    color: red;
    padding: 10px;
}

h2 {
    padding: 10px;
}

p {
    margin-top: 20px;
    border: 15px solid;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.div {
    height: 350px;
    width: 663px;
    border: 50px solid red;
    border-radius: 5px;
    margin: 20px;
}

.div1 {
    height: 250px;
    width: 563px;
    border: 40px solid green;
}

.div2 {
    height: 170px;
    width: 483px;
    border: 40px solid black;
}

.div3 {
    height: 10px;
    width: 403px;
    border: 45px solid tomato;
}