* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.container {
    margin: 30px;
}

.hover button:hover {
  color: white;
  background-color: black;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.focus input:focus {
  color: rgb(4, 155, 4);
  border: none;
  outline: none;
  border: 4px solid brown;
  border-radius: 5px;
  padding: 7px 7px 7px 7px;
  font-size: 20px;
  font-weight: bold;
}

.focus input:hover {
  background-color: yellow;
}

.visited a:visited {
    color: red;
}

.child {
    margin-left: 20px;
}

.child li {
    list-style: square;
    font-size: 20px;
    margin: 10px 5px;
}

/* .child li:first-child {
    color: blue;
} */

/* .child li:last-child {
    color: purple;
} */

.child li:nth-child(2n) {
    color: rgb(0, 0, 0);
}

.child li:nth-child(2n + 1) {
    color: red;
}

.child li:nth-child(1) {
    background-color: black;
}

.child li:nth-child(4) {
    background-color: yellow;
}