*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

#div1 {
    height: 300px;
    width: 600px;
    background-color: tomato;
    margin-top: 25px;
}

#div2 {
    height: 200px;
    width: 400px;
    background-color: blueviolet;
    margin-left: 100px;
}

#div3 {
    height: 100px;
    width: 200px;
    background-color: red;
    margin-left: 100px;
}

.div1 {
    height: 300px;
    width: 600px;
    background-color: blue;
    margin-top: 40px;
}

.div2 {
    height: 200px;
    width: 400px;
    background-color: bisque;
    margin-left: 100px;
}

.div3 {
    height: 100px;
    width: 200px;
    background-color: tomato;
    margin-left: 100px;
}

h2 {
    margin-top: 30px;
    font-size: 30px;
}

button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bolder;
    background-color: blue;
    color: red;
    border: none;
    border-radius: 10px;
}