*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

.boxs3 {
    height: 50px;
    width: 80%;
    background-color: rgb(225, 0, 255);
    border: 5px solid;
    border-radius: 5px;
    position: sticky;
    top: 0px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
    z-index: 1;
}

.boxs1 {
    height: 200px;
    width: 80%;
    background-color: red;
    border: 5px solid;
    border-radius: 5px;
    position: relative;
}

.box1 {
    height: 100px;
    width: 40%;
    background-color: aqua;
    border-radius: 5px;
    position: absolute;
    right: 0;
}

.boxs2 {
    margin-top: 30px;
    height: 200px;
    width: 80%;
    background-color: rgb(0, 119, 255);
    border: 5px solid;
    border-radius: 5px;
    position: relative;
}

.box2 {
    height: 100px;
    width: 40%;
    background-color: rgb(200, 255, 0);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
}

.boxs4 {
    height: 50px;
    width: 15%;
    background-color: rgb(255, 81, 0);
    border: 5px solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
}

.div {
    height: 900px;
    width: 80%;
    background-color: rgb(231, 0, 127);
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 100px 50px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 50px;
}