*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

.grid-container {
    max-width: 1600px;
    margin: 20px auto;
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
}

.grid-container div {
    background-color: red;
    width: 100%;
    font-weight: 1.5em;
    color: white;
    font-weight: bold;
    text-align: center;
}


.flex-container {
    max-width: 1600px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flex-container div {
    height: 300px;
    width: 380px;
    background-color: blueviolet;
    font-weight: 1.5em;
    color: white;
    font-weight: bold;
    text-align: center;
}


@media screen and (max-width: 576px) {
    .flex-container {
        flex-direction: column;
    }
    
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 250px);
        margin: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .flex-container {
        flex-wrap: wrap;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 250px);
    }
}