*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

.container {
    margin: 30px;
}

ul {
    margin: 20px;
}

ul li {
    font-size: 20px;
    margin-bottom: 5px;
}

.first-letter::first-letter {
    font-size: 40px;
    font-weight: bolder;
    color: red;
}

.first-line::first-line {
    font-size: 25px;
    color: rgb(255, 136, 0);
    font-weight: bold;
}

.selection::selection {
    background-color: rgb(8, 214, 8);
    color: rgb(255, 7, 7);
}

::selection {
    background-color: red;
    color: yellow;
}

input {
    padding: 10px;
}

input:focus {
    border: none;
    outline: none;
    border: 4px solid purple;
    border-radius: 5px;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

input::placeholder {
    font-size: 15px;
    font-weight: bolder;
    color: rgb(4, 135, 139);
}

.after::after {
    content: " - Hyper Text Markup Language.";
}

.before::before {
    content: "CSS - ";
}

.before1::before {
    content: "JS - ";
}